*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
main{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}